<!DOCTYPE html>
<html ng-app="app" ng-controller="AppController">
  <head>              
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>


  </head>
  <body>
    <div ui-view="main"></div>
  </body>
  <!-- compiled JavaScript -->
  <% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>

</html>
