<div class="med-filters text-center">
  <nav class="navbar navbar-default">
    <div class="container-fluid increase-both">
      <ul class="nav navbar-nav">
        <!-- future filters -->                                                                        
      </ul>
    </div>
  </nav>
</div>

<div class="row vert-offset-top-2">
  <div class="col-md-6" ng-if="reactionsChart">
    <highchart id="topReactions" config="reactionsChart"></highchart>
  </div>
  <div class="col-md-6" ng-if="!reactionsChart">
    <div class="well">
      No Data Loaded
    </div>
  </div>  
  <div class="col-md-6" ng-if="outcomesChart">
    <highchart id="outcomes" config="outcomesChart"></highchart>
  </div>
  <div class="col-md-6" ng-if="!outcomesChart">
    <div class="well">
      No Data Loaded
    </div>
  </div>  
</div>


<div class="row vert-offset-top-2">

  <div class="col-md-6" ng-if="ageChart">
    <highchart id="ages" config="ageChart"></highchart>
  </div>
  <div class="col-md-6" ng-if="!ageChart">
    <div class="well">
      No Data Loaded
    </div>
  </div>

  <div class="col-md-6" ng-if="genderChart">
    <highchart id="ages" config="genderChart"></highchart>
  </div>
  <div class="col-md-6" ng-if="!genderChart">
    <div class="well">
      No Data Loaded
    </div>
  </div>

</div>


<div class="row vert-offset-top-2">
  <div class="col-md-12" ng-if="timeChart">
    <highchart id="timeline" config="timeChart"></highchart>    
  </div>
  <div class="col-md-12" ng-if="!timeChart">
    <div class="well">
      No Data Loaded
    </div>
  </div>  
</div>