<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 vert-offset-top-5">
                <div class="intro-message">
                    <img alt="MedCheck- Check Twice. Choose Once." src="/assets/images/logo-01.png">
					<form ng-submit="search();">
						<div class="input-group input-group-lg autocomplete">
							<input ng-disabled="loginLoading" autofocus type="text" ng-model="query" placeholder="Search Medications" typeahead-min-length="3" typeahead-wait-ms="250" typeahead="item as item.name for item in getSuggestions($viewValue)" typeahead-loading="loadingDrugs" typeahead-on-select='onSelect($item, $model, $label)' class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" ng-click="search();" ladda="loginLoading"><span class="glyphicon glyphicon-search"></span></button>
							</span>
						</div><!-- /input-group -->
					</form>  
                </div>
            </div>
        </div>
    </div>
</div>