<article class="container">
  <header class="row">
    <div class="col-md-8">
        <div class="page-title">
          <h1 ng-if="indicator=='brand'">{{details.drug.brand_name[0] | uppercase}}</h1>
          <h1 ng-if="indicator=='generic'">{{details.drug.generic_name[0] | uppercase}}</h1>
          <h5 ng-if="indicator=='brand'">{{details.drug.generic_name[0]}}</h5>
        </div>
        <p ng-if="indicator=='brand'">{{details.drug.purpose[0]}}</p>
        <div class="results-heading vert-offset-top-2">The results of your search for <strong>{{name}}</strong> include(s) <strong>{{details.drug.count | number}}</strong> related items.</div>
    </div>
    <div class="col-md-4">
      <nav class="col-lg-12">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="active">
                    <a ui-sref=".recalls" class="text-uppercase" aria-controls="recalls" role="tab">Recalls <span class="badge">{{recalls.response.count | number}}</span></a>
                </li>
                <li>
                    <a ui-sref=".events" class="text-uppercase" aria-controls="events" role="tab">Adverse Events <span class="badge">{{events.response.count | number}}</span></a>
                </li>
            </ul>
        </nav>
    </div>
  </header>
  <section class="row">
      <!-- Tab panes -->
    <div class="tab-content col-md-12">
      <div ui-view></div>
    </div>
  </section>
</article>