<br /><br />
  <div class="container">
  	<div class="row">
        <div class="col-md-9">
            <h1 class="page-header">{{details.drug.brand_name[0]}}</h1>
            <h6>{{details.drug.brand_name[0]}} - {{details.drug.manufacturer_name[0]}}</h6>
            <p class="lead"><strong>Purpose</strong> {{details.drug.purpose[0]}}</p>
        </div>
        <div class="col-md-3">
        	<h3>Recalled</h3>
        	<p>{{details.drug.recalled}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-push-9">
        	<h3>Box 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis faucibus auctor. Sed vel enim lacus. Proin molestie scelerisque convallis</p>
        </div>
        <div class="col-md-9 col-md-pull-3">
        	<h5>Product Type</h5>
          <p>{{details.drug.product_type[0]}}</p>
          
          <h5>Dosage and Administration</h5>
          <p>{{details.drug.dosage_and_administration[0]}}</p>

          <h5>Warnings</h5>
          <p>{{details.drug.warnings[0]}}</p>

          <h5>Stop Use – Warning</h5>
          <p>{{details.drug.stop_use[0]}}</p>

          <h5>Children – Warning</h5>
          <p>{{details.drug.keep_out_of_reach_of_children[0]}}</p>

          <h5>Ask Doctor:</h5>
          <p>{{details.drug.ask_doctor[0]}}</p>
        </div>
    </div>
  </div>
